@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title.</h2>
<h5>Konumu</h5>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3050.4235188272014!2d32.94182281538737!3d40.13284887939909!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40820e13461e6337%3A0x868791a7af7d5fd1!2zQW5rYXJhIFnEsWxkxLFyxLFtIEJleWF6xLF0IMOcbml2ZXJzaXRlc2kgRXNlbmJvxJ9hIE1lcmtleiBLw7xsbGl5ZXNp!5e0!3m2!1str!2str!4v1621337122394!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<br/>
<adress>
<b>Basın Halkla İlişkiler ve Tanıtım Ofisi</b>
<br />
<b>Mail:</b> basin@ybu.edu.tr
<br />
<b>Adres:</b> Esenboğa Merkez Külliyesi C Blok 1. Kat
<br />
<b>Telefon:</b> 0312 324 15 55 /1022/1097/1098/1099
</adress>