@model HaliSahaProject.Models.Admin

@{
    ViewBag.Title = "Admin Silme";
}

<h2>Admin Silme</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Listeye Dön", "Index",new { }, new { @class = "btn btn-outline-info" })
        </div>
    }
</div>
